// Primary Blue
$primary-50: #ebedff;
$primary-100: #c5c9ef;
$primary-200: #a0a5df;
$primary-300: #7a81d1;
$primary-400: #545dc3;
$primary-500: #3c44aa;
$primary-600: #2e3584;
$primary-700: #20265f;
$primary-800: #12173b;
$primary-900: #040819;

// Secondary Green
$secondary-50: #d9ffff;
$secondary-100: #adfff9;
$secondary-200: #7dfff3;
$secondary-300: #4dffee;
$secondary-400: #26ffe9;
$secondary-500: #15e6d0;
$secondary-600: #00b3a2;
$secondary-700: #008073;
$secondary-800: #004e45;
$secondary-900: #001c18;

$white: #ffffff;
$black: #000000;

// Grayscale
$gray-50: #f7fafc;
$gray-100: #edf2f7;
$gray-200: #e2e8f0;
$gray-300: #cbd5e0;
$gray-400: #a0aec0;
$gray-500: #718096;
$gray-600: #4a5568;
$gray-700: #2d3748;
$gray-800: #1a202c;
$gray-900: #171923;
